.quarto-title-block .quarto-title-banner {
  background-image: url(images/ok-logo-white.png), url(images/sll-logo.png), url(images/su-logo.png);
  background-size: 12% auto, 200px auto, 200px auto;
  background-position: 2%, 95% 110%, 95% -30%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-origin: content-box;
  resize: both;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .quarto-title-block .quarto-title-banner {
    background-image: none;
  }
}
